*{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    padding: 0px;
    margin: 0px;

    overflow:hidden;
}

.main{
    display:flex;
    height:100vh;
    background-color: black;
}

.sidebar{
    background-color: #000;
    width:300px;

    border-radius: 1rem;  /*16px */
    
}

.main_content{
    background-color: #121212;
    flex:1;

    overflow: auto;

    border-radius: 1rem;
}

.music_player{
    background-color: #121212;
    width:100%;
    height:70px;
    position:fixed;
    bottom: 0px;

}

.nav{
    text-decoration: none;
    color: white;
}

.nav{
    height:100px;
    background-color: #121212;
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}

.navoption{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem;
}

.navoption i{
    font-size: 1.25rem;
}

.navoption a{
    font-size: 1rem;
    margin-left: 1rem;
}

.navoption:hover{
    opacity:1;
}

.liabrary{
    background-color: #121212;
    border-radius: 1rem;
    height:100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.lib-option img{
    height:1.25rem;
    width: 1.25rem;
}

.nav-top{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.lib-option{
    opacity: 0.7;
}

.icon{
    display: flex;
}

.icon i{
    color: white;
    margin-right:1rem;
    opacity: 0.7;
    font-size: 1.25rem;
}

.icon i:hover{
    opacity: 1;
}

.lib-option:hover{
    opacity:1;
}

.liabrary a{
    text-decoration: none;
    color: white;
}

.liabrary .box-one{
    background-color: #121212;
}

.box-two{
    background-color: #121212;
}

.boxes{
    color: white;
    opacity: 0.8;
    text-align: center;
    margin-top: 1rem;
}



.boxes .box-one{
    background-color: #232323;
    height: 8rem;
    border-radius: 1rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
     padding: 1rem 1.25rem;
}

.boxes .box-two{
    background-color: #232323;
    height: 8rem;
    border-radius: 1rem;
    color: white;
    opacity: 0.8;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem 1.25rem;
}

.boxes p{
    opacity: 0.8;
}

#heading{
    font-size: larger;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.box-one .badges{
     margin-top: 2rem;
}

.boxes .badges{
    padding:0.25rem 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 1);
    font-weight: 700;
    border: none;
    line-height: 1.25rem;
}


.boxes .badges:hover{
    opacity: 1;
    font-size:0.95rem;
}

.main_content{
    margin-left: 0.5rem;
    padding: 0px 1rem 1rem 1rem;
}

.sticky-nav{
    background-color: #121212;
    position: sticky;
    top: 0; 

    display:flex;
    justify-content: space-between;

    height: 60px;
    z-index: 10;
    align-items: center;
}

.sticky-nav .badges{
    border-radius: 1rem;
    padding: 0.2rem;
    border: none;
}

.sticky-nav .dark{
    background-color: black;
    color: white;
}

.sticky-nav .user{
    color: white;
}

.sticky_buttons{
    margin-right:1rem;
}

.sticky_buttons .itm{
    margin-right:1rem;
}

@media (max-width:1000px){
    .hide{
        opacity: 0;
    }
}

h2{
    color: white;
}

.card-container{
    display:flex;
    flex-wrap: wrap;
}

.album-card{
    width: 180px;
    height: 280px;
    background-color: #232323;
    padding: 0.2rem;
    border-radius: 0.2rem;

    margin-left:1rem;
    margin-bottom:1rem;

}

.album-card p{
    color: white;
}

.album-card img{
    width: 100%;
    border-radius: 0.2rem;
}

.album-card .card-title{
    font-size:19px ;
}

.album-card .card-info{
    font-size:13px ;
    opacity: 0.7;
}

.music_player{
    display: flex;
}

.song{
    width:25%;
    margin: 0.25rem;
}

.progress-bar{
    width:50%;
}

.progress-icon{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom:0.5rem;
}

.progress-icon img{
    margin-right: 1rem;
    width: 1rem;
    height: 1rem;

    opacity: 0.7;
}

.progress-icon img:hover{
    opacity:1;
}

.progress-time{
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
}

.progress-time .range{
    width:70%;
    appearance: none;
    background: transparent;
}

.range::-webkit-slider-runnable-track{
    height:0.2rem;
    background-color: #232323;
}

.range::-webkit-slider-thumb{
    appearance:none;
    width:0.5rem;
    height:0.5rem;
    border-radius: 50%;
    background-color: rgb(53, 204, 53);
    margin-top: -3.3px;
}


.song{
    display: flex;
    justify-content:space-between;
    align-content: center;
}

.like-icon{
    display: flex;

    position: relative;
    right:0.5rem;
    top:1.5rem;

    color: white;  
}

.gana{
    display: flex;
    justify-content: center;
    align-content: center;
    color: #777777;
}


.gana i{
   font-size: 2rem;
}

.sound-icon{
    width:25%;
    padding: 1rem;
}

.sound-icon i{
    color: white;
    margin-left:0.5rem;
    font-size: larger;
}

.sound-icon .s-irange{
    appearance: none;
    color: #777777;
}

.s-irange::-webkit-slider-runnable-track{
    color: #777777;
    border-radius: 2rem;
}

.s-irange::-webkit-slider-thumb{
    appearance:none;

    width:0.5rem;
    height:0.5rem;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    margin-top: -3px ;
}
